body {
	font-size: 12px;
	font-family: Arial;
	color: #111111;
}
h1 {
	font-size: 16px;
	text-transform: uppercase;
}
table.header {
	text-transform: uppercase;
	width: 100%;
	/*width: 1588px;*/
}
table.data {
	width: 1588px;
	border: 1px solid #222;
	border-collapse: collapse;
}
table.data td,
table.data th {
	border: 1px solid #222;
	border-collapse: collapse;
	padding: 3px 5px;
}
table.data th {
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}
table.data td.data-row {
	padding: 0;
	border-collapse: collapse;
	border: 0;
	border-spacing: 0;
}
table.data td.data-row table {
	border-spacing: 0;
	border-collapse: collapse;
	border: none;
}
table.data td.data-row table td {
	border-top:0;
}
table.data td.data-row table td:first-child {
	border-left: 0;
}
table.data td.data-row table td:last-child {
	border-right: 0;
}
.data-head {
	width: 1588px;
	float: left;
	font-weight: bold;
	text-align: center;
	border-top: 2px solid #222;
	font-family: Arial;
	font-size: 11px;
	text-transform: uppercase;
}
.data-head .row {
	width: 1588px;
	float: left;
	border-bottom: 1px solid #222;
}
.data-head .row .col {
	float: left;
	border-right: 1px solid #222;
	height: 52px;
	padding-top: 6px;
	box-sizing: border-box;
}
.data-head .row .col.has-sub {
	padding-top: 0;
}
.data-head .row .col:first-child {
	border-left: 1px solid #222;	
}
.data-head .row .col .sub-row {
	float: left;
	width: 100%;
}
.data-head .row .col .sub-row:first-child {
	border-bottom: 1px solid #222;
	box-sizing: border-box;
}
.data-head .row .col .sub-row .sub-col {
	float: left;
	padding-top: 6px;
	height:26px;
	border-right: 1px solid #222;
	box-sizing: border-box;
}
.data-head .row .col .sub-row .sub-col:last-child {
	border:none;
}

.data-body {
	width: 1588px;
	float: left;
	margin-top: -1px;
}
.data-body .row {
	width: 1588px;
	float: left;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	page-break-inside: avoid !important;
}
.data-body .row .col {
	float: left;
	height: 34px;
	border-right: 1px solid #222;
	font-size: 12px;
	font-family: Arial;
	padding: 3px 4px 0;
	box-sizing: border-box;
}
.data-body .row .col:last-child {
}
.data-body .row .col:first-child {
	border-left:1px solid #222;
}